<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Custom</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container page">
		<% include components/top.inc.ejs %>
		<div class="content-wrap">
			<h2 class="col-xs-offset-5">Custom-setting</h2>
			<div class="form col-xs-offset-2 col-xs-8">
				<form action="?" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
					<div class="form-group">
						<label for="title" class="col-xs-2 control-label">title</label>
						<div class="col-xs-10">
							<input type="text" name="title" class="form-control" placeholder="print title">
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-xs-2 control-label">descr</label>
						<div class="col-xs-10">
							<textarea name="description" class="form-control"></textarea><br>
						</div>
					</div>
					<div class="form-group">
						<label for="src" class="col-xs-2 control-label">src</label>
						<div class="col-xs-10">
							<input type="file" name="src" class="form-control">
						</div>
					</div>
					<div class="form-group">
				    	<div class="col-sm-offset-2 col-sm-10">
				     		 <button class="btn btn-warning" type="submit">Add</button>
				   		 </div>
				 	</div>
				</form>
			</div>
			<div class="table">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td>id</td>
							<td>title</td>
							<td>description</td>
							<td>src</td>
							<td>todo</td>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0;i < custom.length;i++){ %>
						<tr class="active">
							<td><%= custom[i].id %></td>
							<td><%= custom[i].title %></td>
							<td><%= custom[i].description %></td>
							<td><img src="/upload/<%= custom[i].src %>" class="img-circle"  style="width: 40px" /></td>
							<td>
								<a href="?act=mod&id=<%= custom[i].id %>" class="btn btn-success">modify</a>
								<a href="?act=del&id=<%= custom[i].id %>&src=<%= custom[i].src %>" onclick="return confirm('delete?')" class="btn btn-danger">delete</a>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<hr>
			<% if(typeof mod_data != 'undefined'){ %>
			
			<div class="form col-xs-offset-2 col-xs-8">
				<form action="?" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
					<input type="hidden" name="mod_id" value="<%= mod_data[0].id %>">
					<input type="hidden" name="mod_src" value="<%= mod_data[0].src %>">
					<div class="form-group">
						<label for="title" class="col-xs-2 control-label">title</label>
						<div class="col-xs-10">
							<input type="text" name="title" class="form-control" value="<%= mod_data[0].title %>">
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-xs-2 control-label">descr</label>
						<div class="col-xs-10">
							<textarea name="description" class="form-control"><%= mod_data[0].description %></textarea><br>
						</div>
					</div>
					<div class="form-group">
						<label for="src" class="col-xs-2 control-label">src</label>
						<div class="col-xs-10">
							<input type="file" name="src" class="form-control">
						</div>
					</div>
					<div class="form-group">
				    	<div class="col-sm-offset-2 col-sm-10">
				     		 <button class="btn btn-primary" type="submit">Save</button>
				     		 <button class="btn btn-warning" type="submit">Cancel</button>
				   		 </div>
				 	</div>
				</form>
			</div>
			<% } %>
		</div>
	</div>
</body>
</html>